footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: -90px;
  background-color: white;
  background: rgb(1, 1, 15);
  color: white;
  text-align: center;
}
/* .devs .footer{
      col
  } */

a,
u {
  color: black;
  text-decoration: none;
}

/* Counter */
#counter {
  position: relative;
  top: -32px;
  margin-left: 1000px;
}
/* Counter */

#send_mail {
  position: relative;
  top: 28px;
  margin-right: 1000px;
}

@media screen and (max-width: 500px) {
  /* Counter */
  #counter {
    position: relative;
    bottom: 40px;
    margin-left: 400px;
  }
  /* Counter */
}

.footer-widget p {
  margin-bottom: 27px;
}
p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.woff2)
      format("woff2"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.woff)
      format("woff"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.ttf)
      format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
/* Material Icons */
