<head>
  <link rel="stylesheet" href="/assets/CSS/navmenu.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
    />
  <link rel="stylesheet" type="text/css" href="/assets/CSS/rpopup.css" />


  <!-- javascript -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
</head>
<body>

  <!-- Navbar -->
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="http://localhost:8000/admin">Admin</a></li>
            <li><a href="/business">My Businesses</a></li>


            <!-- Submit Button -->
            <div *ngIf="show_backup;then content else other_content">here is
              ignored</div>

            <!-- Initial Calculate button -->
            <ng-template #other_content>
              <li><a role="button" (click)="backupData()">Backup Data</a></li>
            </ng-template>
            <!-- Initial Calculate button -->

            <!-- After clicking loading button -->
            <ng-template #content>
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </ng-template>
            <!-- After clicking loading button -->


            <li><a role="button" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar -->

</body>

<router-outlet></router-outlet>



<footer id="dk-footer" class="dk-footer">

  <div class="copyright">
    <div class="container">
      <div class="row">
        <span
          style="font-size:large;margin-left:-200px;position:relative;top:40px">
          <a href="mailto: crunchbase.io@gmail.com">
            <i class="fa fa-envelope"></i>
          </a>
        </span>
        <span>Developed by devMonks.org</span>
        <br>
        <span>Copyright © 2021, All Right Reserved</span>
      </div>

    </div>
  </div>
</footer>