 <head>
    
</head>

<body>
    <div class="intro">
        <div class="container">

            <!-- Add Customer Form -->
            <div *ngIf="show_customerAdd_form === true && show_transaction_form
                === false && show_customerEdit_form === false">
                <!-- Title -->
                <h3>
                    <br><br><br>
                    <span id="title" class="pacificofont">Add Customer</span>
                    <br><br><br>
                </h3>
                <!-- Title -->


                <!-- Form -->
                <form id=addCustomerForm #addCustomerForm="ngForm"
                    (ngSubmit)="addCustomer(addCustomerForm)">
                    <div>


                        <!-- Close Icon -->
                        <p style="text-align:center;font-size: 22px"><a
                                (click)="onClose()" class="close">&times;</a></p>
                        <!-- Close Icon -->


                        <!-- Customer Name -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerName">Name</label>
                            <input #customerName="ngModel"
                                required
                                type="text" class="form-control"
                                placeholder="Enter Name"
                                id="customerName"
                                autocomplete="off"
                                aria-describedby="customerName" ngModel
                                name="customerName">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                                        customerName.touched"
                                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Name -->

                        <!-- Customer Contact -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerContact">Mobile Number</label>
                            <input #customerContact="ngModel"
                                pattern=\d\d\d\d\d\d\d\d\d\d
                                required
                                type="text" class="form-control"
                                id="customerContact"
                                autocomplete="off"
                                aria-describedby="customerContact"
                                placeholder="Enter Mobile Number" ngModel
                                name="customerContact">
                            <span id="input_label"
                                *ngIf="customerContact.invalid &&
                                customerContact.touched"
                                style="color:red"><b>**Mobile Number Should be
                                    10 digits</b></span>
                        </div>
                        <!-- Customer Contact -->


                        <!-- Customer Adress -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerAddress">Address</label>
                            <input #customerAddress="ngModel"
                                type="text" class="form-control"
                                placeholder="Enter Address"
                                id="customerAddress"
                                autocomplete="off"
                                aria-describedby="customerAddress" ngModel
                                name="customerAddress">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                                        customerName.touched"
                                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Adress -->


                        <!-- Customer Aadhar Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerAadharNumber">Aadhar Card Number</label>
                            <input #customerAadharNumber="ngModel"
                                pattern="\d\d\d\d\d\d\d\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder="Enter Aadhar Number"
                                id="customerAadharNumber"
                                autocomplete="off"
                                aria-describedby="customerAadharNumber" ngModel
                                name="customerAadharNumber">
                            <span id="input_label"
                                *ngIf="customerAadharNumber.invalid &&
                                customerAadharNumber.touched"
                                style="color:red"><b>**Aadhar card Number should
                                    be 12 digits</b></span>
                        </div>
                        <!-- Customer Aadhar Number -->


                        <!-- Customer Pan Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerPanNumber">Pan Card Number</label>
                            <input #customerPanNumber="ngModel"
                                pattern="\w\w\w\w\w\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder="Enter Pan Number"
                                id="customerPanNumber"
                                autocomplete="off"
                                aria-describedby="customerPanNumber" ngModel
                                name="customerPanNumber">
                            <span id="input_label"
                                *ngIf="customerPanNumber.invalid &&
                                customerPanNumber.touched"
                                style="color:red"><b>**Enter Valid Pan Card
                                    Number</b></span>
                        </div>
                        <!-- Customer Pan Number -->


                        <!-- Customer Debit -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerDebit">Debit Amount</label>
                            <input #customerDebit="ngModel"
                                required
                                type="text" class="form-control"
                                id="customerDebit"
                                autocomplete="off"
                                aria-describedby="customerDebit"
                                placeholder="Enter Debit Amount" ngModel
                                name="customerDebit">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                                        customerContact.touched"
                                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer Debit -->

                        <!-- Customer Credit -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerCredit">Credit Amount</label>
                            <input #customerCredit="ngModel"
                                required
                                type="text" class="form-control"
                                id="customerCredit"
                                autocomplete="off"
                                aria-describedby="customerCredit"
                                placeholder="Enter Credit Amount" ngModel
                                name="customerCredit">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                                        customerContact.touched"
                                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer Credit -->


                        <!-- Submit Button -->
                        <button id="submit_button" type="submit"
                            [disabled]="addCustomerForm.invalid" class="btn
                            btn-danger">Add</button>
                        <!-- Submit Button -->



                    </div>
                </form>
                <!-- Form -->
            </div>
            <!-- Add Customer Form -->


            <!-- Transaction Form -->
            <div *ngIf="show_transaction_form === true && show_customerEdit_form
                === false && show_customerAdd_form === false">
                <!-- Title -->
                <h3>
                    <br><br><br>
                    <span id="title" class="pacificofont">Add Transaction</span>
                    <br><br><br>
                </h3>
                <!-- Title -->


                <!-- Form -->
                <form id=transactionForm #transactionForm="ngForm"
                    (ngSubmit)="transaction(transactionForm)">

                    <div>

                        <!-- Close Icon -->
                        <p style="text-align:center;font-size: 22px"><a
                                (click)="onClose()" class="close">&times;</a></p>
                        <!-- Close Icon -->


                        <!-- Customer Name -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionName">Name</label>
                            <input #transactionName="ngModel"
                                disabled
                                type="text" class="form-control"
                                placeholder={{customerEditName}}
                                id="transactionName"
                                autocomplete="off"
                                aria-describedby="transactionName" ngModel
                                name="transactionName">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                        customerName.touched"
                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Name -->


                        <!-- Customer Contact -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionContact">Mobile Number</label>
                            <input #transactionContact="ngModel"
                                disabled
                                type="text" class="form-control"
                                id="transactionContact"
                                autocomplete="off"
                                aria-describedby="transactionContact"
                                placeholder={{customerEditContact}} ngModel
                                name="transactionContact">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                        customerContact.touched"
                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer Contact -->


                        <!-- Customer Adress -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionAddress">Address</label>
                            <input #transactionAddress="ngModel"
                                disabled
                                type="text" class="form-control"
                                placeholder={{customerEditAddress}}
                                id="transactionAddress"
                                autocomplete="off"
                                aria-describedby="transactionAddress" ngModel
                                name="transactionAddress">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                        customerName.touched"
                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Adress -->


                        <!-- Customer Aadhar Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionAadharNumber">Aadhar Card Number</label>
                            <input #transactionAadharNumber="ngModel"
                                disabled
                                pattern="\d\d\d\d\d\d\d\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder={{customerEditAadharNumber}}
                                id="transactionAadharNumber"
                                autocomplete="off"
                                aria-describedby="transactionAadharNumber"
                                ngModel
                                name="transactionAadharNumber">
                            <!-- <span id="input_label" *ngIf="transactionAadharNumber.invalid &&
                            transactionAadharNumber.touched"
                            style="color:red"><b>**Aadhar card Number should be 12 digits</b></span> -->
                        </div>
                        <!-- Customer Aadhar Number -->


                        <!-- Customer Pan Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionPanNumber">Pan Card Number</label>
                            <input #transactionPanNumber="ngModel"
                                disabled
                                pattern="\w\w\w\w\w\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder={{customerEditPanNumber}}
                                id="transactionPanNumber"
                                autocomplete="off"
                                aria-describedby="transactionPanNumber" ngModel
                                name="transactionPanNumber">
                            <!-- <span id="input_label" *ngIf="transactionPanNumber.invalid &&
                            transactionPanNumber.touched"
                            style="color:red"><b>**Enter Valid Pan Card Number</b></span> -->
                        </div>
                        <!-- Customer Pan Number -->


                        <!-- Customer New Debit -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionNewDebit">New Debit Amount</label>
                            <input #transactionNewDebit="ngModel"
                                type="text" class="form-control"
                                id="transactionNewDebit"
                                autocomplete="off"
                                aria-describedby="transactionNewDebit"
                                placeholder="Enter Debit Amount" ngModel
                                name="transactionNewDebit">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                        customerContact.touched"
                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer New Debit -->


                        <!-- Customer Total Debit -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionTotalDebit">Total Debit Amount</label>
                            <input #transactionTotalDebit="ngModel"
                                disabled
                                type="text" class="form-control"
                                id="transactionTotalDebit"
                                autocomplete="off"
                                aria-describedby="transactionTotalDebit"
                                placeholder={{customerEditDebit}} ngModel
                                name="transactionTotalDebit">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                        customerContact.touched"
                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer Total Debit -->

                        <!-- Customer Credit -->
                        <div class="form-group">
                            <label id="input_label"
                                for="transactionCredit">Credit Amount</label>
                            <input #transactionCredit="ngModel"
                                type="text" class="form-control"
                                id="transactionCredit"
                                autocomplete="off"
                                aria-describedby="transactionCredit"
                                placeholder={{customerEditCredit}} ngModel
                                name="transactionCredit">
                            <!-- <span id="input_label" *ngIf="customerContact.invalid &&
                        customerContact.touched"
                            style="color:red"><b>**Invalid Password Format</b></span> -->
                        </div>
                        <!-- Customer Credit -->


                        <!-- Submit Button -->
                        <button id="submit_button" type="submit"
                            [disabled]="transactionForm.invalid" class="btn
                            btn-danger">Transaction</button>
                        <!-- Submit Button -->



                    </div>
                </form>
                <!-- Form -->
            </div>
            <!-- Transaction Form -->


            <!-- Edit Form -->
            <div *ngIf="show_customerEdit_form === true && show_transaction_form
                === false && show_customerAdd_form === false">
                <!-- Title -->
                <h3>
                    <br><br><br>
                    <span id="title" class="pacificofont">Edit Customer</span>
                    <br><br><br>
                </h3>
                <!-- Title -->


                <!-- Form -->
                <form id=customerEditForm #customerEditForm="ngForm"
                    (ngSubmit)="editCustomer(customerEditForm)">

                    <div>

                        <!-- Close Icon -->
                        <p style="text-align:center;font-size: 22px"><a
                                (click)="onClose()" class="close">&times;</a></p>
                        <!-- Close Icon -->


                        <!-- Customer Name -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerName">Name</label>
                            <input #customerName="ngModel"
                                type="text" class="form-control"
                                placeholder={{customerEditName}}
                                id="customerName"
                                autocomplete="off"
                                aria-describedby="customerName" ngModel
                                name="customerName">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                        customerName.touched"
                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Name -->


                        <!-- Customer Contact -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerContact">Mobile Number</label>
                            <input #customerContact="ngModel"
                                pattern="\d\d\d\d\d\d\d\d\d\d"
                                required
                                type="text" class="form-control"
                                id="customerContact"
                                autocomplete="off"
                                aria-describedby="customerContact"
                                placeholder="Enter Mobile Number" ngModel
                                name="customerContact">
                            <span id="input_label"
                                *ngIf="customerContact.invalid &&
                                customerContact.touched"
                                style="color:red"><b>**Mobile Number Should be
                                    10 digits</b></span>
                        </div>
                        <!-- Customer Contact -->


                        <!-- Customer Adress -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerAddress">Address</label>
                            <input #customerAddress="ngModel"
                                type="text" class="form-control"
                                placeholder={{customerEditAddress}}
                                id="customerAddress"
                                autocomplete="off"
                                aria-describedby="customerAddress" ngModel
                                name="customerAddress">
                            <!-- <span id="input_label" *ngIf="customerName.invalid &&
                                        customerName.touched"
                                            style="color:red"><b>**Invalid Username Format</b></span> -->
                        </div>
                        <!-- Customer Adress -->


                        <!-- Customer Aadhar Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerAadharNumber">Aadhar Card Number</label>
                            <input #customerAadharNumber="ngModel"
                                pattern="\d\d\d\d\d\d\d\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder={{customerEditAadharNumber}}
                                id="customerAadharNumber"
                                autocomplete="off"
                                aria-describedby="customerAadharNumber" ngModel
                                name="customerAadharNumber">
                            <span id="input_label"
                                *ngIf="customerAadharNumber.invalid &&
                                customerAadharNumber.touched"
                                style="color:red"><b>**Aadhar card Number should
                                    be 12 digits</b></span>
                        </div>
                        <!-- Customer Aadhar Number -->


                        <!-- Customer Pan Number -->
                        <div class="form-group">
                            <label id="input_label"
                                for="customerPanNumber">Pan Card Number</label>
                            <input #customerPanNumber="ngModel"
                                pattern="\w\w\w\w\w\d\d\d\d\d"
                                type="text" class="form-control"
                                placeholder={{customerEditPanNumber}}
                                id="customerPanNumber"
                                autocomplete="off"
                                aria-describedby="customerPanNumber" ngModel
                                name="customerPanNumber">
                            <span id="input_label"
                                *ngIf="customerPanNumber.invalid &&
                                customerPanNumber.touched"
                                style="color:red"><b>**Enter Valid Pan Card
                                    Number</b></span>
                        </div>
                        <!-- Customer Pan Number -->


                        <!-- Submit Button -->
                        <button id="submit_button" type="submit"
                            [disabled]="customerEditForm.invalid" class="btn
                            btn-danger">Edit</button>
                        <!-- Submit Button -->



                    </div>
                </form>
                <!-- Form -->
            </div>
            <!-- Edit Form -->


            <!-- Customer Table -->
            <div *ngIf="show_customerEdit_form === false &&
                show_transaction_form === false && show_customerAdd_form ===
                false">

                <!-- Title -->
                <h2>
                    <span
                        style="position:relative;top:20px;margin-left:450px;color:white"
                        class="pacificofont"><b><i>{{ title|titlecase }}</i></b></span>
                </h2>
                <!-- Title -->


                <!-- Search Bar -->
                <div class="form-group">
                    <input id="searchBar" type="text" class="form-control"
                        [(ngModel)]="text"
                        placeholder="Search Your Business">
                </div>
                <!-- Search Bar -->


                <!-- Create Excel Button -->
                <button style="margin-left:970px;" type="button" class="btn
                    btn-success" (click)="createCSV()"><i class="fa
                        fa-file-excel-o"></i> Create Excel</button>
                <!-- Create Excel Button -->


                <!-- Add New User Button -->
                <button style="position:relative;bottom:54px;margin-left:840px;"
                    type="button" class="btn btn-info add-new"
                    (click)=addUser()><i class="fa fa-plus"></i> Add New</button>
                <div *ngIf="text === '';then content else other_content"></div>
                <!-- Add New User Button -->


                <!-- Customer List Pagination Table -->
                <ng-template #content>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="table-dark" *ngFor="let head of
                                    headElements"
                                    scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light" *ngFor="let customer of
                                customerList.slice().reverse() |
                                paginate : {id :
                                'listing_pagination',
                                itemsPerPage : 10,
                                currentPage : page,
                                totalItems : totalLength
                                }; let i=index">
                                <td>{{ i+1 }}</td>
                                <td><a
                                        href="/transaction/{{id}}/{{customer.customerId}}">{{customer.customerName}}</a></td>
                                <td>{{customer.customerCredit}}</td>
                                <td>{{customer.customerDebit}}</td>
                                <td>{{customer.customerPending}}</td>
                                <td>{{customer.customerContact}}</td>
                                <td>{{customer.customerAddress}}</td>
                                <td>{{customer.customerAadharNumber}}</td>
                                <td>{{customer.customerPanNumber}}</td>
                                <td>
                                    <a style="color: #FFC107;" class="edit"
                                        title="Edit" data-toggle="tooltip"
                                        (click)="editCustomerForm(customer)"><i
                                            class="material-icons">&#xE254;</i></a>
                                    <a style="color: #E34724;" class="delete"
                                        title="Delete" data-toggle="tooltip"
                                        (click)="deleteCustomer(customer)"><i
                                            class="material-icons">&#xE872;</i></a>
                                    <a style="color: green;" class="delete"
                                        title="Transaction"
                                        data-toggle="tooltip"
                                        (click)="transactionForm(customer)"><i
                                            class="material-icons">&#xe8e5;</i></a>
                                </td>
                            </tr>

                        </tbody>
                        <tr class="table-primary">
                            <td></td>
                            <td>Total </td>
                            <td>{{totalCredit}}</td>
                            <td>{{totalDebit}}</td>
                            <td>{{totalPending}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                    <div>
                        <pagination-controls style="color:white;"
                            id="listing_pagination"
                            (pageChange)="page=
                            $event"></pagination-controls>
                    </div>
                </ng-template>
                <!-- Customer List Pagination Table -->


                <!-- Customer List Search Table -->
                <ng-template #other_content>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="table-dark" *ngFor="let head of
                                    headElements"
                                    scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light" *ngFor="let customer of
                                customerList.slice().reverse() |
                                filter : text; let i=index">
                                <!-- <div *ngIf="{{customer.customerPending}} === '0' "> -->
                                <td>{{ i+1 }}</td>
                                <td><a
                                        href="/transaction/{{id}}/{{customer.customerId}}">{{customer.customerName}}</a></td>
                                <td>{{customer.customerCredit}}</td>
                                <td>{{customer.customerDebit}}</td>
                                <td>{{customer.customerPending}}</td>
                                <td>{{customer.customerContact}}</td>
                                <td>{{customer.customerAddress}}</td>
                                <td>{{customer.customerAadharNumber}}</td>
                                <td>{{customer.customerPanNumber}}</td>
                                <td>
                                    <a style="color: #FFC107;" class="edit"
                                        title="Edit" data-toggle="tooltip"
                                        (click)="editCustomerForm(customer)"><i
                                            class="material-icons">&#xE254;</i></a>
                                    <a style="color: #E34724;" class="delete"
                                        title="Delete" data-toggle="tooltip"
                                        (click)="deleteCustomer(customer)"><i
                                            class="material-icons">&#xE872;</i></a>
                                    <a style="color: green;" class="delete"
                                        title="Transaction"
                                        data-toggle="tooltip"
                                        (click)="transactionForm(customer)"><i
                                            class="material-icons">&#xe8e5;</i></a>
                                </td>
                                <!-- </div> -->
                            </tr>

                        </tbody>
                        <tr class="table-primary">
                            <td></td>
                            <td>Total </td>
                            <td>{{totalCredit}}</td>
                            <td>{{totalDebit}}</td>
                            <td>{{totalPending}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </ng-template>
                <!-- Customer List Search Table -->

            </div>
            <!-- Customer Table -->


        </div>
    </div>
</body>