<body>
    <div class="intro">
        <div class="container">
            <!-- Title -->
            <h3>
                <br><br><br>
                <span id="title" class="pacificofont">Copy Customers</span>
                <br><br><br>
            </h3>
            <!-- Title -->

            <!-- Search Bar -->
            <div class="form-group">
                <input id="copysearchBar" type="text"
                    class="form-control"
                    [(ngModel)]="text"
                    name="text"
                    placeholder="Search">
            </div>
            <!-- Search Bar -->



            <!-- Select Business Form -->
            <form #selectBusinessForm="ngForm"
                (ngSubmit)="copy(selectBusinessForm)">
                <label id="input_label" style="color:black" for="businessId">Select
                    Business to Copy</label>
                <div id="select_business" class="select" class="input-group
                    mb-3">
                    <div class="input-group-prepend">
                        <label style="color:black" class="input-group-text"
                            for="inputGroupSelect01">BUSINESS</label>
                    </div>
                    <select required name="businessId" ngModel
                        requirred
                        class="custom-select"
                        id="inputGroupSelect01">
                        <option *ngFor="let business of businessList"
                            value="{{
                            business.businessId }}">{{
                            business.businessName }}</option>
                    </select>
                    <span id="input_label"
                        *ngIf="businessId.invalid &&
                        businessId.touched"
                        style="color:red"><b>**Please Select Business</b></span>
                </div>

                <!-- Submit Button -->
                <div *ngIf="show_copy === false">
                    <button
                        style="position:relative;bottom:163px;margin-left:1030px;"
                        type="submit"
                        id="submit_button"
                        [disabled]="selectBusinessForm.invalid"
                        class="btn
                        btn-warning"><i class="fa
                            fa-file-copy"></i>Copy</button>
                </div>

                <div *ngIf="show_copy === true">

                    <button
                        style="position:relative;bottom:163px;margin-left:1030px;"
                        type="button"
                        class="btn btn-warning"
                        disabled>
                        <span class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"></span>
                        Copying</button>

                </div>
                <!-- Submit Button -->


            </form>
            <!-- Select Business Form -->


            <!-- Customer Display Table -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th (click)="sort('customerId')" class="table-dark"><i
                                class="fa fa-sort"></i>&nbsp;Sr</th>
                        <th (click)="sort('customerName')" class="table-dark"><i
                                class="fa fa-sort"></i>&nbsp;Name</th>
                        <th (click)="sort('customerContact')"
                            class="table-dark"><i
                                class="fa fa-sort"></i>&nbsp;Contact</th>
                        <th (click)="sort('customerAddress')"
                            class="table-dark"><i
                                class="fa fa-sort"></i>&nbsp;Address</th>
                        <th (click)="sort('customerAadharNumber')"
                            class="table-dark"><i class="fa fa-sort"></i>&nbsp;Aadhar
                            No.</th>
                        <th (click)="sort('customerPanNumber')"
                            class="table-dark"><i class="fa fa-sort"></i>&nbsp;Pan
                            No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" *ngFor="let
                        customer
                        of
                        customerList.slice().reverse() | orderBy: key : reverse|filter:text; let i=index">
                        <!-- <div *ngIf="{{customer.customerPending}} === '0' "> -->
                        <td><div class="custom-control custom-checkbox">
                                <input (click)="addCustomerIds(customer)"
                                    type="checkbox" class="custom-control-input"
                                    id={{i+1}} [checked]="customer.customerStatus">
                                <label class="custom-control-label" for={{i+1}}>{{i+1}}</label>
                            </div></td>
                        <td>{{customer.customerName}}</td>
                        <td>{{customer.customerContact}}</td>
                        <td>{{customer.customerAddress}}</td>
                        <td>{{customer.customerAadharNumber}}</td>
                        <td>{{customer.customerPanNumber}}</td>
                        <!-- </div> -->
                    </tr>

                </tbody>
            </table>
            <!-- Customer Display Table -->

        </div>
    </div>
</body>
