body {
  background-image: url("src/assets/Images/finance5.jpg");
}
.intro {
  height: 1000vh;
}

form label {
  color: aqua;
}

#copysearchBar {
  width: 700px;
}

.pacificofont {
  font-family: pacifico;
  font-size: 50px;
}

#title {
  color: white;
  margin-left: 400px;
}

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.woff2)
      format("woff2"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.woff)
      format("woff"),
    url(material-design-icons-3.0.2/iconfont/MaterialIcons-Regular.ttf)
      format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Model Popup */

.fancy {
  padding: 1em;
  width: 50%;
  height: 280px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  border-radius: 25px;
  top: auto;
  background-color: #fcfcfa;
}
/* Model Popup */
